html, body {
  height           : 100%;
  margin           : 0;
  padding          : 0;
  background-color : white;
  font-size        : 10pt;
  color: #000;
}

@import "pages/home_page";

#header-page {
  margin : 65px 5px 15px 35px;
}

#report-page {
  margin : 5px 10px 20px 40px;
}
